body {
  background: rgb(49,46,43);
  font-family: system-ui;
  color: white;
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

*,*::after,*::before {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#title {
  width: fit-content;
  margin: 15px auto;
}

#title::selection {
  color: none;
  background: none;
}

#sketch-div {
  display: flex;
  justify-content: center;
}

#sidebar {
  width: 350px;
  height: 720px;
  margin: 10px;
  border-radius: 5px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.side-wrapper {
  background: #ccc;
  margin: 10px 0px;
  border-radius: 5px;
}

#turn {
  width: 100%;
  height: 10%;
  margin: 0px 0px 10px 0px;
  /* background: #ccc; */
  /* border-radius: 5px; */
  display: flex;
  flex-grow: 1;
}

#turn-color {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  margin: auto 15px;
  background: white;
}

.text-wrapper {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  position: relative;
  width: 100%;
}

#turn-text {
  position: absolute;
  top: 50%;
  left: 10px;
  margin: 0;
  transform: translateY(-60%);
}

#recording {
  width: 100%;
  height: 70%;
  flex-grow: 8;
}

#toolbar {
  width: 100%;
  margin: 10px 0px 0px 0px;
  flex-grow: 1;
}

.backdrop-window {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.msg-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 680px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  text-align: center;
}


.msg {
  font-size: 72px;
}

.button-container button {
	background: none;
	border: none;
	font-size: 32px;
  font-weight: bold;
	margin: 0 auto;
  color: black;
}

.button-container button:hover {
	color: #319df6;
  cursor: pointer;
  /* color: black; */
}

.button-container button:focus {
    outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
}
